* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Timmana;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0px 0px 6px 3px black;
    position: fixed;
    z-index: 5;
    background-color: #041825;

}
.bars{
    margin-right: 15px;
    display: none;
}

ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    list-style: none;
    padding-right: 40px;

}


ul .list-item {
    position: relative;
    width: 125px;
    text-align: center;
    margin: 10px 0px;
    transition: 0.5s ease-in-out all;
}

ul .list-item:hover {
    background-color: #ffcc00;
    border-radius: 40px;
}


ul .list-item::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background-color: white;
    left: -20px;
    display: inline-block;
    margin: 9px 0px;

}

ul .list-item a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 9px;
    font-size: large;
}

.logo {
    width: 20%;
    padding-left: 50px;
}

.logo img {
    width: 90px;
}

.info a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    display: inline-block;
    margin-top: 9px;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 130px;
    /* padding-top: 40px; */
    padding-right: 30px;
    background-image: url(../images/1000_F_557011754_WClRO8OfBkZcGyP6EB7YqBaJ4MuMXizP.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    



}

.hero h1 {
    font-size: 60px;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0px 0px 5px black;
    animation-delay: 1s !important;



}

.hero p {
    font-size: xx-large;
    font-weight: 700;
    color: black;
    text-shadow: 0px 0px 5px white;
    animation-delay: 0.5s !important;




}

.hero button {
    font-size: medium;
    font-weight: 700;
    color: black;
    border: none;
    padding: 15px 30px 10px 30px;
    border-radius: 30px;
    transition: 0.5s ease-in-out all;
    animation-delay: 1.5s !important;



}


.hero button:hover {

    color: white;
    background-color: black;
    cursor: pointer;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   

}

.circle1,
.circle2,
.circle3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.5s ease-in-out all;


}

.circle1 {
    animation-delay: 2s;
}

.circle2 {
    animation-delay: 2.5s;
}

.circle2 {
    animation-delay: 3s;
}

.circle1:hover,
.circle2:hover,
.circle3:hover {

    background-color: #ffcd01;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cards p {
    font-size: medium;
    width: 300px;
    color: white;
    text-shadow: 0px 0px 4px black;
    transition: 0.5s ease-in-out all;
    animation-delay: 2.5s !important;
}



.card1 {

    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 100px 0px;
    padding-bottom: 20px;
    text-align: center;
    background: url(../images/photo_5_2024-03-27_16-06-30.jpg) no-repeat center;
    background-size: cover;
    transition: 0.5s ease-in-out all;
    animation-delay: 2s !important;



}

.card3 {

    background: url(../images/imagess.png) no-repeat center;
    background-size: cover;
    width: 400px;
    margin: 100px 0px;
    text-align: center;
    height: 300px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s ease-in-out all;
    animation-delay: 2s !important;
}

.card1:hover,
.card2:hover,
.card3:hover {

    filter: contrast(80%);
    border-radius: 20px;



}
.card1:hover  p,
.card2:hover  p,
.card3:hover  p{

    font-weight: 600;
    color: black;
    text-shadow: 0px 0px 4px white;
    background-color: white;
    padding: 10px 10px 5px 10px;
    border-radius: 20px;
    opacity: 0.9;


}
.card1:hover  h3,
.card2:hover  h3,
.card3:hover  h3{
    color: black;
    text-shadow: 0px 0px 6px white;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 20px;
    opacity: 0.9;

}

.cards h3 {
    color: white;
    text-shadow: 0px 0px 6px black;
    font-size: 35px;
    transition: 0.5s ease-in-out all;
    animation-delay: 2.5s !important;

}



.card2 {
    background: url(../images/best-food-delivery-apps.png) no-repeat center;
    background-size: cover;
    margin: 100px 0px;
    text-align: center;
    width: 400px;
    padding-bottom: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s ease-in-out all;
    animation-delay: 2s !important;

}



.our-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    padding: 80px 0px;
    background-color: #f3f4f9;
}

.our-menu h1 {
    font-size: 30px;
    animation-delay: 2.5s !important;

}

.our-menu ul {
    animation-delay: 2.5s !important;
    padding-right: 0px;
    margin: 0px 10px;
    flex-wrap: wrap;
}

.our-menu ul li button {
    border: 1px solid rgb(173, 167, 167);
    background-color: transparent;
    padding: 10px 25px 5px 25px;
    color: gray;
    border-radius: 40px;
    transition: 0.5s ease-in-out all;

}

.our-menu ul li button:hover {
    border: 1px solid #ce3551;
    color: #ce3551;
    cursor: pointer;

}

.our-menu-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    transition: 0.5s all ease-in-out !important;
    flex-wrap: wrap;

}

.our-menu-card1 {
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation-delay: 3s !important;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    transition: 0.5s all ease-in-out !important;
}
.our-menu-card1 {
    transition: 0.5s all ease-in-out !important;
}

.our-menu-card1:hover {
padding: 20px 0px;

}
.our-menu-card1:hover img {


    filter: contrast(70%);


}

.our-menu-card1:hover .hidden {

    max-height: 170px;



}


.our-menu-card1:hover .btn {
    opacity: 1;
}


.our-menu-card1::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#ce3551, gray);
    animation: anim12 6s linear infinite;
    animation-delay: 3s !important;

}

.our-menu-card1::after {
    content: "";
    position: absolute;
    background: #f3f4f9;
    inset: 4px;
    border-radius: 30px;


}

.our-menu-card1 img {
    width: 180px;
    position: relative;
    z-index: 10;
    transition: 0.5s all ease-in-out !important;


}

.our-menu-card1 .hidden {
    font-size: small;
    text-align: center;
    color: gray;
    font-weight: 500;
    width: 80%;
    transition: 0.5s all ease-in-out;
    max-height: 0px;
    overflow: hidden;
}

.our-menu-card1 .btn {
    background-color: #ed5353;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 10px 20px 5px 20px;
    border: 1px solid rgb(172, 172, 172);
    transition: 0.5s all ease-in-out;
    z-index: 10;
    opacity: 0;
}

.our-menu-card1 button:hover {
    background-color: transparent;
    color: #ed5353;
    cursor: pointer;
}

.our-menu-card1 p {
    color: #ce3551;
    font-size: x-large;
    position: relative;
    z-index: 10;

}

.our-menu-card1 h4 {
    z-index: 10;
    position: relative;

}

.free-del {
    width: 100%;
    height: 500px;
    background-image: url(../images/Canada_Home_Burger.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;



}

.con {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding-top: 110px;

}

.money {
    width: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;
    animation-delay: 5s !important;

}

.con h2 {
    font-size: 25px;
    color: white;
    transition: 0.5s all ease-in-out;
    position: relative;
    animation-delay: 4s !important;


}

.con h2::before {
    background-color: #ce3551;
    width: 60px;
    height: 4px;
    content: "";
    position: absolute;
    top: 12px;
    left: -70px;
    border-radius: 50px;


}

.con h2::after {
    background-color: #ce3551;
    width: 60px;
    height: 4px;
    content: "";
    position: absolute;
    top: 12px;
    right: -70px;
    border-radius: 50px;


}



.con h1 {
    font-size: 40px;
    color: white;
    transition: 0.5s all ease-in-out;
    animation-delay: 4.5s !important;


}

.con button {
    border: none;
    background-color: #ce3551;
    color: white;
    padding: 10px 80px 5px 80px;
    /* border: 1px solid white; */
    border-radius: 40px;
    font-size: large;
    transition: 0.5s all ease-in-out;
    animation-delay: 5.5s !important;


}

.con button:hover {
    background-color: rgba(255, 255, 255, 0.877);
    color: #ce3551;
    cursor: pointer;



}

.con .money p {

    color: white;
    font-size: x-large;
    transition: 0.5s all ease-in-out;


}

.con .money .dollar {

    color: #ce3551;
    font-size: 80px;
    transition: 0.5s all ease-in-out;


}

.con .money .dollar:hover {

    color: white;
    text-shadow: 0px 0px 5px #ce3551;



}

.our-servies {
    width: 100%;
    padding: 60px 0px;

}

.servies-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 70px;
    animation-delay: 6s !important;

}

.servies-cards .flip {

    width: 250px;
    height: 300px;
    position: relative;
    perspective: 700px;
    margin: 15px;
}

.servies-cards .flip:hover .card-inner {
    transform: rotateY(-180deg);


}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.8s all ease-in-out;
    transform-style: preserve-3d;
}


.servies-cards .card-inner .servies-card1,
.servies-cards .card-inner .servies-card1-back {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
    box-shadow: 5px 5px 10px 1px rgb(212, 212, 212);
    padding: 0px 10px;
    backface-visibility: hidden;


}

.servies-cards .card-inner .servies-card1-back {
    transform: rotateY(180deg);
    padding: 0px;
}

.servies-cards .card-inner .servies-card1-back .icon-btn {
    color: white;
    border: none;
    border-radius: 40px;
    padding: 10px 30px 5px 30px;
    background-color: #ce3551;
    transition: 0.5s all ease-in-out;
}

.servies-cards .card-inner .servies-card1-back .icon-btn:hover {
    color: #ce3551;
    background-color: transparent;
    border: 1px solid rgb(182, 182, 182);
    cursor: pointer;
}

.servies-cards .servies-card1 p {
    text-align: center;
    color: #ce3551;
    transition: 0.5s all ease-in-out;


}

.servies-cards .servies-card1 p:hover {

    color: black;
    text-shadow: 0px 0px 4px white;


}

.servies-cards .servies-card1 h3 {
    font-size: large;
    transition: 0.5s all ease-in-out;


}

.servies-cards .servies-card1 h3:hover {
    color: #ce3551;
    text-shadow: 0px 0px 4px white;


}

.slider-section {
    width: 100%;
    padding: 100px 0px;


}


.location {
    width: 100%;
}

.location iframe {
    width: 100%;
}


.slider{
    height: 250px ;
    width: 90%;
    position: relative;
    display: grid;
    place-items:center;
    margin: auto;
    overflow: hidden;
}
.slider::before,
.slider::after{
content: "";
height: 100%;
width: 15%;
position: absolute;
z-index: 2;
background: linear-gradient(to right,rgba(255,255,255,1) 0% ,
rgba(255,255,255,0) 100%);
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.images-slider{
    display: flex;
    width: calc(250px * 8);
    animation: scroll 30s linear infinite;
}
.images-slider:hover{
animation-play-state: paused;
}
.slide{
    display: flex;
    align-items: center;
    width: 250px ;
    height: 300px;
    padding: 15px;
    perspective: 100px;
    
}
.slide img{
    transition: transform 1s;
    width: 100% ;
    width: 220px ;
    height: 130px;
    object-fit: cover;

}
.slide img:hover{

transform: translateZ(20px);


}



.part1-foot {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(31, 30, 30);
    padding: 50px 0px;
    flex-wrap: wrap;
}

.part1-foot h1 {
    color: white;

}

.part1-foot p {
    color: white;

}

.part1 {
    width: 380px;
    padding: 30px 40px;
    border-right: 2px solid gray;
    margin-top: 25px;
  
}

.part2 {
    width: 300px;
    padding: 30px 40px;
    border-right: 2px solid gray;
    margin-top: 25px;

}

.part3 {
    width: 300px;
    padding: 30px 40px;
    margin-right: 10px;
    margin-top: 25px;

}

.part3 form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 266px;


}

.part3 form input {
    padding: 9px 0px 7px 12px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(168, 166, 166);

}

.part3 form .btn-foot {
    background-color: #ce3551;
    color: white;
    border: none;
    border-radius: 20px;
    border: 1px solid rgb(168, 166, 166);
    padding: 9px 10px 7px 10px;
    transition: 0.5s all ease-in-out;

}
.part3 form .btn-foot:hover {
    background-color: transparent;
    color: white;

}
.part2-foot{
    width: 100%;
    background-color: black;
    padding: 30px 0px;
    color: white;
    text-align: center;
}
.part2-foot a{
    
    color: white;
}

.anim1 {
    opacity: 0;
    transform: translateX(100px);
    animation: move1 1s linear forwards;

}

.anim2 {
    opacity: 0;
    transform: translateX(0px);
    animation: move2 1s linear forwards;
}

.anim22 {
    opacity: 0;
    transform: translateX(-100px);
    animation: move22 1.5s linear forwards;
}

.anim3 {
    opacity: 0;
    transform: translateY(100px);
    animation: move3 1s linear forwards;
}

.anim4 {
    opacity: 0;
    transform: translateY(50px);
    animation: move4 1s linear forwards;
}

.anim5 {
    opacity: 0;
    transform: translateY(70px);
    animation: move5 1s linear forwards;
}

.anim6 {
    opacity: 0;
    transform: translateY(90px);
    animation: move6 1s linear forwards;
}

.anim7 {
    opacity: 0;
    transform: translateY(110px);
    animation: move7 1s linear forwards;
}

.anim8 {
    opacity: 0;
    transform: translateY(130px);
    animation: move8 1s linear forwards;
}

.anim9 {
    opacity: 0;
    transform: translateY(-100px);
    animation: move9 1s linear forwards;
}

.anim10 {
    opacity: 0;
    transform: translateY(-120px);
    animation: move10 1s linear forwards;
}

.anim11 {
    opacity: 0;
    transform: rotate(30deg);
    animation: move11 1s linear forwards;
}

.anim13 {
   
    transform: translateX(-50px);
    animation: move13 10s linear forwards infinite;
}





@keyframes move1 {
    100% {

        opacity: 1;
        transform: translateX(0px);

    }


}

@keyframes move2 {
    100% {

        opacity: 1;
        transform: translateX(30px);

    }


}

@keyframes move22 {
    100% {

        opacity: 1;
        transform: translateX(0px);

    }


}

@keyframes move3 {
    100% {

        opacity: 1;
        transform: translateY(0px);

    }


}

@keyframes move4 {
    100% {

        opacity: 1;
        transform: translateY(0px);

    }


}

@keyframes move5 {
    100% {

        opacity: 1;
        transform: translateY(0px);

    }


}

@keyframes move6 {
    100% {

        opacity: 1;
        transform: translateY(0px);

    }


}

@keyframes move7 {
    100% {

        opacity: 1;
        transform: translateY(0px);

    }


}

@keyframes move8 {
    100% {

        opacity: 1;
        transform: translateY(0px);

    }


}

@keyframes move9 {
    100% {

        opacity: 1;
        transform: translateY(0px);

    }


}

@keyframes move10 {
    100% {

        opacity: 1;
        transform: translateY(0px);

    }


}

@keyframes move11 {
    100% {

        opacity: 1;
        transform: rotate(0deg);

    }


}

@keyframes anim12 {
    0% {


        transform: rotate(0);

    }

    100% {


        transform: rotate(360deg);

    }


}

@keyframes scroll {

0%{
transform: translateX(0);
}
 
100%{
    transform: translateX( calc(-250px * 4) );
}

}
@media(max-width:1200px){
    .info{
        display: none;
    }
    nav {
        justify-content: space-between;
        padding: 0px 10px;
        
    }
    .logo{
        padding-left: 0px;
    }

    .card1 ,.card2 ,.card3{
        width: 350px;
        margin:  35px;
    }
    .cards{
        padding: 40px 0px;
    }
    .our-menu-card1{
        margin: 10px;
    }
    /* .hero {

        padding-top: 250px;
        padding-bottom: 200px;
    
    } */


}
@media(max-width:992px){
    .bars{
       
        display: block;
    }
    nav ul{
        display: none;
        
    }



}
@media(max-width:768px){
.hero h1{
    font-size: 45px;
}
.card1 ,.card2 ,.card3{
    width: 90%;
    margin: 35px 0px;

}
.cards p{
    width: 90%;


}
.our-menu-card1{
    width: 90%;
}
.our-menu-card1::before {

    width: 100%;
 


}


.our-menu ul {

    gap: 40px;
}
.con {
    width: 80%;
    margin: 0 auto;
    margin-left: 9px;


}
.con .money .dollar {
    color: #ffffff;
    text-shadow: 0px 0px 4px black;

}
.con .money p {
   text-shadow: 0px 0px 4px black;
}
.con h1 {
  text-shadow: 0px 0px 4px black;
}
.con h2 {
  text-shadow: 0px 0px 4px black;
}
.servies-cards .flip {
    width: 90%;

}
.servies-cards {

    padding: 0px 10px;
  
}
.con button {

    margin-left: 50px;
    padding: 10px 70px 5px 70px;



}
.con .money{

    margin-left: 50px;



}

/* .hero {

    padding-top: 180px;

    



} */

}

@media(max-width:624px){
    .part1 {
        width: 90%;

    }
    
    .part2 {

        width: 90%;
    }
    
    .part3 {
        width: 90%;
    }





}
@media(max-width:576px){
.hero h1{
    font-size: 40px;
}
.hero p{
    font-size: x-large;
}





}
@media(max-width:462px){
.hero h1{
    font-size: x-large;
    width: 100%;
    text-align: center;
}
.hero p{
    width: 185px;
    text-align: center;
    font-size: large;
    margin-left: 40px;
}


.con h2::after {

    width: 40px;

    right: -52px;
}
.con h2 {
    font-size: 20px;

}
.con h2::before {
 
    width: 40px;
    left: -54px;
 
}
.con .money p {
 
    font-size: larger;
 
}
.con h1 {
    font-size: 35px;

}
.con .money .dollar {

    font-size: 65px;

}
.hero button {

    margin-left: 40px;
}
.circle {
    margin-left: 40px;
}



}
@media(max-width:390px){
.hero h1{
    font-size: 18px;
    
}
.hero p{
    font-size: 16px;
}
.hero{
    padding-right: 60px;
}
.hero button{
    padding: 10px 15px 5px 15px;
}
.circle1, .circle2, .circle3{
    width: 15px;
    height: 15px;
}
.con h2::after {

    width: 33px;

    right: -50px;
}
.con h2 {
    font-size: 16px;

}
.con h2::before {
 
    width: 33px;
    left: -52px;
 
}
.con .money p {
 
    font-size: large;
 
}
.con h1 {
    font-size: 30px;

}
.con .money .dollar {

    font-size: 60px;

}




}
@media(max-width:360px){

    .con button {
        padding: 10px 40px 5px 40px;
    }




}
@media(max-width:350px){
    .part1 {
padding: 0px 0px;

    }
    
    .part2 {

        padding: 0px 0px;    }
    
    .part3 {
        padding: 0px 0px;    }




}